#gallery{
	background-color: #eeeeee;
	display: inline-block;
	width: 100%;
	height: 100%;
}

#gallery .scrape{
	background-color: #aaaaaa;
	width: 20%;
	margin: 1%;
	padding: 1.5%;
	display: inline-block;
}

#gallery .scrape .picture{
	width:100%;
}