#scrapeList{
	background-color: #eeeeee;
	width: 50%;
	display: inline-block;
}

#scrapeList .scrape{
	background-color: #aaaaaa;
	width: 98%;
	margin: .5%;
	padding: 0 1.5%;
	display: inline-block;
}

#scrapeList h3{
	display: inline-block;
}

#scrapeList .result{
	display: inline-block;
	margin-left: 25px;
}