form{
	margin: 0;
}

#content{
	display: inline-block;
}

#scrapeList{
	background-color: #eeeeee;
	width: 50%;
	height: 100%;
	float: left;
	display: inline-block;
	text-align: center;
}

#scrapeList .scrape{
	background-color: #aaaaaa;
	width: 98%;
	margin: .5% 1%;
	display: inline-block;
}

#scrapeList h3{
	display: inline-block;
}

#resultList{
	background-color: #eeeeee;
	width: 50%;
	height: 100%;
	float: left;
	display: inline-block;
	text-align: center;
}

#resultList .result{
	background-color: #aaaaaa;
	width: 98%;
	margin: .5% 1%;
	display: inline-block;
}

#resultList h3{
	display: inline-block;
}