#thumb{
	background-color: #eeeeee;
	width: 100%;
}

#thumb .scrape{
	background-color: #aaaaaa;
	width: 95%;
	margin: 1%;
	padding: 1.5%;
	height: 10%;
}

#thumb .scrape .picture{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#thumb .scrape h3{
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
}

#thumb .scrape a.result{
	margin-left: 25px;
	display: inline-block;
	vertical-align: middle;
}