#thumb{
	background-color: #eeeeee;
	width: 100%;
}

#thumb .scrape{
	background-color: #aaaaaa;
	width: 95%;
	margin: 1%;
	padding: 1.5%;
	height: 10%;
}

#thumb .scrape .picture{
	height: 100%;
	float: left;
}

#thumb .scrape h3{
	float: left;
}