extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  section#addScrape
    form#addScrape(class="addScrapeForm", name="addScrapeForm", action="/maker", method="POST")
      label(for="url") URL: 
      input#scrapeURL(type="text", name="url", placeholder="URL")
      label(for="query") Query: 
      input#scrapeQuery(type="text", name="query", placeholder="ei 6UL wheels")
      a#addScrapeSubmit(class="addScrapeSubmit", href="#") Add Scrape
  section#scrapes
    if !scrapes || scrapes.length == 0
        div.scrape
            h3.emptyScrape No Scrape yet
    else
        each val in scrapes
            div.scrape
                img(class="domoFace", src="/assets/img/domoface.jpeg", alt="domo face")
                h3.scrapeURL URL: #{val.url}
                h3.scrapeQuery Query: #{val.query}
block scripts
        script(src="/assets/maker.js")