extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  section#makeScrape
    form#scrapeForm(class="scrapeForm", name="scrapeForm", action="/maker", method="POST")
      label(for="url") URL: 
      input#scrapeName(type="text", name="url", placeholder="URL")
      label(for="query") Query: 
      input#scrapeQuery(type="text", name="query", placeholder="ie 6UL wheels")
      a#makeScrapeSubmit(class="makeScrapeSubmit", href="#") Make new Scrape
  section#scrapes
    if !scrapes || scrapes.length == 0
        div.domo
            h3.emptyDomo Bo Scrapes yet
    else
        each val in scrapes
            div.domo
                h3.scrapeTitle Scraping #{val.url} for #{val.query}
                ul.results
                  li.result
                    a(href="google.com") Item found
                  li.result
                    a(href="google.com") Item found
                  li.result
                    a(href="google.com") Item found
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/maker.js")