extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
    link(rel="stylesheet", type="text/css", href="/assets/gallery.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/icon.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="") Gallery
  section#makeScrape
    form#scrapeForm(class="scrapeForm", name="scrapeForm", action="/gallery", method="POST")
      label(for="url") URL: 
      input#scrapeURL(type="text", name="url", placeholder="URL")
      label(for="query") Query: 
      input#scrapeQuery(type="text", name="query", placeholder="ie 6UL wheels")
      a#makeScrapeSubmit(class="makeScrapeSubmit", href="#") Make new Scrape
  section#gallery
    if !scrapes || scrapes.length == 0
        div.scrape
            h3.emptyScrape No Scrapes yet
    else
        each val in scrapes
            div.scrape
              img.picture(src="/assets/img/icon.png", alt="logo")
              h3.scrapeTitle Scraping: #{val.url}
              h3.scrapeSubtitle For: #{val.query}
              each item in val.results
                div.result #{item.url}
block scripts
        script(src="/assets/maker.js")